/* .App {
    text-align: center;
   background-image: url(metal.jpg);
    width: 100vw;
  
  }
  div{
    font-family: 'Cinzel', serif;
    size: 10px;

  }
  
  .backgroundImg{
     
    width: 80vw;
    background-color: lightgray;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 10vw;
    margin-right: 10vw;
    
  }
  .sideBar{
  height: 100%;
  width: 100%;
  background-color: green;
  
  }
  
  
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .header{
    height: 15vh;
    width: 80vw;
    background-image: url(gray.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    margin-left: 10vw;
    margin-right: 10vw;
    position: relative;
  }
  .tabs{
    height: 5vh;
    width: 80vw;
    background-color: rgb(225, 225, 228);
    margin-left: 10vw;
    
  }
  .businessName{
    height: 6vh;
    background-color: lightgray;
    margin-left: 11vw;
    font-family: fantasy;
    border-radius: 10px;
    position: center;
  }
  .cart{
    height: 20%;
    margin-top: 4vh;
    margin-right: 1vw;
    font-size: 20px;
   background-size: 40px;
   background-color: white;
   color: rgb(191, 158, 204);
   font-family: 'Times New Roman', Times, serif;
   border: 2px solid black;
  }
  
  .sides{
    width: 100vw;
    height: 100%;
    background-image: url(metal.jpg)
  }
  
  
  

  .bottomBorder{
    width: 100%;
    height: 15vh;
  }
  

  .comments{
    height: 30vh;
    width: 60vw;
    margin: 2vh 18vw 2vh 10vw;
    border: 2px solid black;
    overflow:auto;
  }
   .comments2{
       border-bottom: solid black 1px;
       background-color: bisque; 
   }

  .theComment{
    display: flex;
    font-size: 20px;
    margin-left: 10vw;
    margin-top: 3vh;
    color: black;
    text-shadow: -.5px 0 white, 0 .5px white, .5px 0 white, 0 -.5px white;
    overflow: auto;
  
  }
  .commentBox{
    padding: 0;
    margin-left: 0;
    overflow: auto;
  }
  
  .homeInfo{
    height: 40vh;
    width: 80vw;
    border-bottom: 2px solid black;
    font-size: 30px;
    background: rgb(225, 225, 228);
    padding-top: 2vh;
    display: flex;
    

  }
  
  .camsPic{
    width: 40vw;
    height: 40vh;
    background-image: url(cam.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0;
    margin-left: 28vw;
  
    
    
  }

  
  .whyText{
    width: 80vw;
    margin-top: 2vw;
    font-size: 20px;
  }
  
  .nav{
    background-color: rgb(160, 214, 200);
    font-size: 20px;
    margin: 5px;
    
    display: inline;
    border-radius: 10px;
  
  }
  
  .quotesInput{
    text-align: center;
    display: flex;
    align-content: space-between;
    flex-direction: column;
    width: 50vw;
    margin-left: 15vw ;
    border: 2px rgb(112, 112, 204) solid;
    background-color: oldlace;
  }
  input{
    border: solid 1px rgb(133, 88, 88);
    width: 20vw;
    margin-left: 5vw;
  }
  
  .getQuoteBtn{
    margin-bottom: 10px;
    border: solid black 1px;
    width: 12vw;
    
    
  }
  
  .quotesTitle{
    padding: 0;
    margin: 0;

  
  }

  
  
  .eachInput{
    margin-bottom: 50px;
    margin-left: 10vw;
    width: 30vw;
  }
  .eachInput2{
    margin-bottom: 50px;
    margin-left: 15vw;
  }
  
  .quotesTotal{
    margin-bottom: 50px;
    font-size: 30px;
  }
  
  .about{
    
    height: 35vh;
    width: 20vw;
    background-color: oldlace;
    margin-left: 30vw;
    font-size: 30px;
  }
  .aboutBody{
    height: 100vh;
  }
  .contactThanks{
    height: auto;
    width: 20vw;
    background-color: oldlace;
    margin-left: 30vw;
    font-size: 30px;
  }

  .contactPage{
    width: 40vw;
    height: auto;
    background-color: oldlace;
    margin-left: 20vw;
    font-size: 30px;

  }
  
.Thankyou{
  height: 100vh;
}

  .appointments{
    height: 100vh;
  }
  
  .appointmentsBox{
    display: flex;
    flex-direction: row;
    
    height: 20px;
  }
  .fName{
    border: solid black 1px;
    color: red;
    width: 12vw;
  }
  .lName{
    border: black 1px solid;
    width: 12vw;
  }
  .addApp{
    border: black 1px solid;
    width: 25vw;
  
  }
  .cityApp{
    border: black 1px solid;
    width: 10vw;
  
  }
  .zipApp{
    border: black 1px solid;
    width: 10vw;
  
  }
  .winApp{
    border: black 1px solid;
    width: 4vw;
  
  }
  .hWinApp{
    border: black 1px solid;
    width: 4vw;
  
  }
  .totalApp{
    border: black 1px solid;
    width: 4vw;
  
  }

  
  
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  
  }
  
  @media(min-width:1150px){
    .navBucket{
      height:100%;
      padding-bottom: 15px;
      display:flex;
      align-items: flex-end;
      
    }
    .getQuoteBtn{
      margin-left: 1vw;
    }
  
    .basic {
      display: none;
      position:absolute;
      top: 15vh;
    }
    
    .img2{
      display: none;
    }
     #cleaningHousePic{
      height: 38vh;
      border-radius: 60px;
      
  
    }
    
  }
  
  @media(max-width:1149px){
    img {
      width: 40px;
    }
    .img2{
      width: 10vw;
      
    }

    #cleaningHousePic{
      display: none;
  
    }
    .businessName{
      height: 8vh;
      background-color: lightgray;
      
      font-family: fantasy;
      border-radius: 10px;
      position: center;
      margin: 0vh 12vw 0vh 26vw;
      font-size: 20px;
      margin-left: 14vw;
    }
  
    .navBucket{
      display: none;
    }
    
    .basic {
      background-color: gray;
      color: white;
      height: 0;
      transition: 2s;
      height: 0px;
      overflow: hidden;
      top: 12.7vh;
      position: absolute;
      width: 15vw;
      
      
    }
    .quotesInput{
      text-align: center;
    display: flex;
    align-content: space-between;
    flex-direction: column;
    width: 40vw;
    margin-left: 20vw ;
    border: 2px rgb(112, 112, 204) solid;
    }

    .inputBoxes{
      
    }


    
    
    .show {
      height: 80vh;
      position:absolute;
      width: 80vw;
      justify-content: space-evenly;
      background-color: lightblue
      
  
      
    }
    .Joke{
      font-size: 40px;
      color: black;
      background-color: oldlace;
    }

    .jokePic{
      height: 60vh;
      width: 60vw;
    }
    .eachInput{
      margin-left: 5vw;
      width: 30vw;
    }
  
    .getQuoteBtn{
      font-size: 10px; 
      
    }
    ul{
      padding: 0;
    }
    button{
      padding:0;
    }
  
   
    
    .camsPic{
      width: 30vw;
      height: 40vh;
      background-image: url(cam.jpg);
      background-size: contain;
      background-repeat: no-repeat;
      padding: 0;
      margin-left: 26.5vw;
      margin-bottom: 2vh;
      
      
    }
    
    .whyText{
      width: 80vw;
      margin-top: 2vw;
      display: flex;
      
      
    }
    .text{
      font-size: 20px;
    }
  
    .homeInfo{
      height: auto;
      width: 80vw;
      border-bottom: 2px solid black;
      font-size: 20px;
      background: rgb(225, 225, 228);
      padding-top: 2vh;
      display: flex;
      
    }
  
  }
  
  @media(max-width: 620px){
  
    img{
      width: 8vw;
    }
    .nav{
      background-color: rgb(160, 214, 200);
      font-size: 20px;
      margin-left: 0;
      display: inline;
      border-radius: 10px;
    
    }
    .businessName{
      height: 13vh;
      background-color: white;
    
      font-family: fantasy;
      border-radius: 10px;
      position: center;
      margin-right: 4vw;
      font-size: 20px;
      display: flex;
      margin-left: 30vw;
      margin-top: 1vh;
    }

    .commentInput{
      width: 50vw;
    }
  
    .show {
      height: 4vh;
      position:absolute;
      
      width: 100vw;
      justify-content: space-evenly;
      background-color: lightblue;
    }
    .comment1{
      font-size: 20px;
    }

    .comments{
        height: 30vh;
        width: 90vw;
        margin-left: 4.5vw;
        border: 2px solid black;
        overflow:auto;
      }
  
    .titleBoxes{
      height: 5vh;
    }
    .eachInput{
      margin-left: 9vw;
      width: 50vw;
    }
    .quotesInput{
      width: 70vw;
      margin-left: 15vw;
    }
    
    .appointmentsBox{
      display: flex;
      flex-direction: row;
      border: black 2px solid;
      height: 20px;
    }
    .fName{
      border: solid black 1px;
      color: red;
    }
    .lName{
      border: black 2px solid;
    }
    .addApp{
      border: black 2px solid;
    }
    .cityApp{
      border: black 2px solid;
    }
    .zipApp{
      border: black 2px solid;
    }
    .winApp{
      border: black 2px solid;
    }
    .hWinApp{
      border: black 2px solid;
    }
    .totalApp{
      border: black 2px solid;
    }
  
    .homeInfo{
      height: 45vh;
      width: 100vw;
      border-bottom: 2px solid black;
      font-size: 10px;
      background: rgb(225, 225, 228);
      padding-top: 2vh;
      
      

    }
    
    .camsPic{
      width: 100vw;
     
      background-image: url(cam.jpg);
      background-size: contain;
      background-repeat: no-repeat;
      padding: 0;
      margin-left: 6vw;
      margin-bottom: 2vh;
      
      
    }
    
    .whyText{
      width: 80vw;
      margin-top: 2vw;
    }

    .getQuoteBtn{
      margin-bottom: 10px;
      border: solid black 1px;
      width: 20vw;
    }

    .header{
        height: 15vh;
        width: 100vw;
        background-image: url(gray.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: space-between;
        margin-left: 0vw;
    margin-right: 0vw;
        
        
        position: relative;
      
      
  
      }
      .backgroundImg{
        background-image: url(greywood.jpg);
        width: 100vw;
       
        background-repeat: no-repeat;
        background-size: cover;
        margin-left: 0vw;
        margin-right: 0vw;
        
      }
      #cleaningHousePic{
          display: none;
      }

      .buttons{
    background-color: rgb(160, 214, 200)
      }

      .contactPage{
        width: 100vw;
        height: auto;
        background-color: oldlace;
        margin-left: 0vw;
        font-size: 30px;
    
      }
      .about{
    
        height: 100vh;
        width: 100vw;
        background-color: oldlace;
        margin-left: 0vw;
        font-size: 30px;
      }
      .img2{
        display: none;
      }
  } */